form.form(ng-if="!sent")
	div.form-group
		input#username.form-control(
			type='text'
			ng-model="user.username"
			placeholder="Username"
		)
		
	div.form-group
		input.form-control(
			type='password'
			ng-model="user.password"
			placeholder="Password"
		)
		
	div.form-group
		input.form-control(
			type='text'
			ng-model="user.email"
			placeholder="Email"
		)
		
	button.btn.btn-primary(
		ng-click="signup()"
	) Sign Up

	div {{error}}

div.confirmation(ng-if="sent") 
	div We have sent you a verification email. 
	div Please click on the link to activate your account.
	button.btn.btn-success(
		ng-click="close()"		
	) OK
