div.passreset
	div(ng-show="!sent")
		div.title We will send you a password-reset link 

		form.form
			div.form-group
				input.focusme.form-control(
					type='text'
					ng-model="email"
					placeholder= "Email"
				)
			div.buttons
				button.btn.btn-warning(
					ng-click="resetContinue()"
				) Continue
				button.btn.btn-default(
					ng-click="resetCancel()"
				) Cancel
				
	div(ng-if="sent")
		div Email sent
		button.btn.btn-success(
			ng-click="close()"
		) OK

	div.error(ng-if="error") {{error}}
