form.form.center
	div(ng-show="!changed")
		div.form-group
			input.form-control(
				type='password'
				ng-model="newpass"
				placeholder="New password"
			)
		div.form-group
			input.form-control(
				type='password'
				ng-model="newpass2"
				placeholder="Repeat new password"
			)
		
		button.btn.btn-primary(
			ng-click="changePassword()"
		) Change password
		
		button.btn.btn-default(
			ng-click="cancel()"
		) Cancel
		
		div.error(ng-if="error") {{error}}
	
	div(ng-show="changed")
		div Your password was changed.
		button.btn.btn-primary(
			ng-click="cancel()"
		) OK
		
